h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: auto;
}

button {
    width: 8em;
    align-self: center;
}

p, textarea, button {
    margin-top: 1em;
}
