h1 {
    text-align: center;
}

.results {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}

pre {
    font-family: "Courier New", ui-monospace;
    display: block;
    border: 2px dashed black;
    padding: 1em;
}