<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>Code Formatter - result</title>
        <link rel="stylesheet" th:href="@{/stylesheets/successStyles.css}">
    </head>
    <body>
        <h1>Formatting results</h1>
        <div class="results">
            <div>
                <p>Code before formatting:</p>
                <pre th:text="${codeBefore}">

                </pre>
            </div>
            <div>
                <p>Code after formatting:</p>
                <pre th:text="${codeAfter}">

                </pre>
            </div>
        </div>
    </body>
</html>